<h1>Recipe</h1>

<div>
  <div>name : {{recipe.name}}</div>
  <div>description_global : {{recipe.description_global}}</div>
  <div>category : {{recipe.category}}</div>
  <div>ingredients : {{recipe.ingredients}}</div>
  <div>description_detail : {{recipe.description_detail}}</div>
  <div>
    <img src="{{recipe.image}}" />
</div>

<div class="text-center">
  <a class="btn btn-primary" href="/recipes/create" role="button">
    Add a recipe
  </a>
  <a class="btn btn-secondary" href="/recipes/update/{{recipe.id}}" role="button">
    Update
  </a>
  <a class="btn btn-danger" href="/recipes/delete/{{recipe.id}}" role="button">
    Delete
  </a>
</div>