<h1>Update recipe</h1>

  <div class="form-group">
    <label for="name">Name*</label>
    <input value="{{recipe.name}}"class="form-control" type="text" id="name" name="name" placeholder="Nom de la recette" required>
  </div>

    <div class="form-group">
    <label for="description_global">description_global*</label>
    <input value="{{recipe.description_global}}" class="form-control" type="text" id="description_global" name="description_global" placeholder="description rapide de la recette" required>
  </div>

  <div class="form-group">
    <label for="category">category</label>
    <input value="{{recipe.category}}" class="form-control" type="text" id="category" name="category" placeholder="category de la recette" required>
  </div>

  <div class="form-group">
    <label for="ingredients">ingredients</label>
    <input value="{{recipe.ingredients}}" class="form-control" type="array of text" id="ingredients" name="ingredients" placeholder="liste des ingredients" required>
  </div>

  <div class="form-group">
    <label for="quantity">quantity*</label>
    <input value="{{recipe.quantity}}" class="form-control" type="array of number" id="quantity" name="quantity" placeholder="quantite de chaque ingredient" required>
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input value="{{recipe.image}}" class="form-control" type="text" id="image" name="image" placeholder="Ex: http://lien.vers-l-image.com/img.jpeg">
  </div>

  <div class="form-group">
    <label for="description_detail">description_detail</label>
    <input value="{{recipe.description_detail}}" class="form-control" type="text" id="description_detail" name="description_detail" placeholder="description_detail">
  </div>


  <div class="text-center">
    <button type="submit" class="btn btn-primary">
      Update
    </button>
  </div>
</form>